<!-- Bio Section -->
<article
    class="px-16 py-8 w-full bg-white rounded-3xl max-sm:border-none border border-solid border-gray-950 border-opacity-10 min-h-[396px] max-md:px-5 max-md:max-w-full"
>
    <h2 class="text-3xl font-bold leading-tight text-gray-900">Bio</h2>
    <div class="mt-6 text-base leading-6 text-gray-700 max-md:max-w-full">
        <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
        </p>
        <br />
        <p>
            The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English.
        </p>
        <br />
        <p>Main points :</p>
        <p>First point</p>
        <p>Second point</p>
        <p>Third point</p>
    </div>
</article>
