---
import { getEnvVar } from "@utils/env";
import { getContent } from '@utils/getContent';
import { type Language } from '@utils/language';
import SocialLinKs from "./SocialLinks.astro";

const { lang } = Astro.params;
const i18n = await getContent(lang as Language)
const calendlyUrl = getEnvVar('ASTRO_PUBLIC_CALENDLY_URL');
---
<!-- Footer Section -->
<footer
    class="flex flex-col justify-center items-center max-md:px-5 mt-4 w-full font-bold text-center min-h-[200px] max-md:max-w-full"
>
    <p class="text-base text-gray-700 max-md:max-w-full">
        {i18n.cta.message}
    </p>
    <a
        class="gap-2.5 px-3 py-2.5 mt-10 w-[236px] text-base leading-relaxed text-white bg-[#6C3CE9] hover:bg-[#5B32C7] rounded-md min-h-11 max-sm:self-center transition-colors"
        href={calendlyUrl}
        target="_blank"
        data-track="click"
        data-track-value="CTA_footer"
    >
        {i18n.cta.button}
    </a>
    <SocialLinKs class="mt-10" socialLinks={i18n.socialLinks} />
</footer>
