---
// Header
const { lang } = Astro.params;

interface Props {
    title: string
}
---

<!-- Header with back button -->
<header
    class="flex sticky top-0 z-10 items-center px-32 py-0 bg-white shadow-md h-[70px] max-md:px-16 max-md:py-0 max-sm:px-5 max-sm:py-0"
    role="banner"
>
    <a
        class="[&_.icontainer]:hover:bg-[#f3f4f6] flex justify-center items-center h-full w-[70px]"
        id="back-button"
        aria-label="Go back"
        href={`/${lang}/`}
    >
        <div
            class="icontainer flex h-[56px] w-[56px] items-center justify-center rounded-full"
        >
            <svg
                width="44"
                height="44"
                viewBox="0 0 44 44"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="back-icon"
            >
                <path
                    d="M18.548 15.5619C19.1343 14.9761 19.1343 14.0263 18.548 13.4405C17.9616 12.8547 17.011 12.8547 16.4247 13.4405L8.93975 20.9172C8.35342 21.503 8.35342 22.4528 8.93975 23.0385L16.4479 30.5595C17.0342 31.1453 17.9849 31.1453 18.5712 30.5595C19.1575 29.9737 19.1575 29.024 18.5712 28.4382L13.6261 23.4779L34.082 23.4779C34.8651 23.4779 35.5 22.8063 35.5 21.9779C35.5 21.1494 34.8651 20.4779 34.082 20.4779L13.6261 20.4779L18.548 15.5619Z"
                    fill="#111827"></path>
            </svg>
        </div>
    </a>
    <h1 class="text-3xl font-bold leading-9 text-black px-6 max-sm:px-3">
        {Astro.props.title}
    </h1>
</header>
