---
const { lang } = Astro.props;
---
<!-- Language switcher -->
<header
    class="flex gap-3 items-center self-end mt-6 mb-4 text-lg font-bold leading-none whitespace-nowrap max-sm:self-center"
>
    <a
        class=`self-stretch my-auto text-gray-900 ${lang === 'en' ? '' : 'opacity-60'}`
        aria-pressed="true"
        id="lang-en"
        href="/en/"
    >
        EN
    </a>
    <a
        class=`self-stretch my-auto text-gray-600  ${lang === 'fr' ? '' : 'opacity-60'}`
        aria-pressed="false"
        id="lang-fr"
        href="/fr/"
    >
        FR
    </a>
</header>
