---
import type { SocialLinks } from "src/entities/profile";

interface Props {
    socialLinks: SocialLinks;
    class: string;
}
const { socialLinks, class: className } = Astro.props;
---
<div 
    class={`${className} flex gap-4 items-center`} 
    aria-label="Social media links"
>
    <a
        href={socialLinks.linkedin}
        class="social-link"
        aria-label="LinkedIn"
        target="_blank"
        data-track="click"
        data-track-value="social_link_linkedin"
    >
        <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="social-icon"
        >
            <g clip-path="url(#clip0_linkedin)">
                <path
                    class="fill"
                    d="M14.8156 0H1.18125C0.528125 0 0 0.515625 0 1.15313V14.8438C0 15.4813 0.528125 16 1.18125 16H14.8156C15.4688 16 16 15.4813 16 14.8469V1.15313C16 0.515625 15.4688 0 14.8156 0ZM4.74687 13.6344H2.37188V5.99687H4.74687V13.6344ZM3.55938 4.95625C2.79688 4.95625 2.18125 4.34062 2.18125 3.58125C2.18125 2.82188 2.79688 2.20625 3.55938 2.20625C4.31875 2.20625 4.93437 2.82188 4.93437 3.58125C4.93437 4.3375 4.31875 4.95625 3.55938 4.95625ZM13.6344 13.6344H11.2625V9.92188C11.2625 9.0375 11.2469 7.89687 10.0281 7.89687C8.79375 7.89687 8.60625 8.8625 8.60625 9.85938V13.6344H6.2375V5.99687H8.5125V7.04063H8.54375C8.85938 6.44063 9.63438 5.80625 10.7875 5.80625C13.1906 5.80625 13.6344 7.3875 13.6344 9.44375V13.6344Z"
                    fill="#C2C2C2"></path>
            </g>
            <defs>
                <clipPath id="clip0_linkedin">
                    <rect width="16" height="16" fill="white"></rect>
                </clipPath>
            </defs>
        </svg>
    </a>
    <a
        href={socialLinks.github}
        class="social-link"
        aria-label="GitHub"
        target="_blank"
        data-track="click"
        data-track-value="social_link_github"
    >
        <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="social-icon"
        >
            <g clip-path="url(#clip0_github)">
                <path
                    class="fill"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.00019 0.333344C6.10101 0.334329 4.2641 1.00698 2.81792 2.23103C1.37175 3.45507 0.410612 5.15068 0.106373 7.01468C-0.197866 8.87867 0.174628 10.7895 1.15726 12.4055C2.13989 14.0214 3.66857 15.2372 5.46996 15.8353C5.86738 15.9091 6.01707 15.6628 6.01707 15.4533C6.01707 15.2439 6.00912 14.6367 6.00647 13.9728C3.78094 14.4536 3.31067 13.0337 3.31067 13.0337C2.94769 12.1116 2.4231 11.8693 2.4231 11.8693C1.69715 11.3766 2.47742 11.3859 2.47742 11.3859C3.28153 11.4425 3.70411 12.2065 3.70411 12.2065C4.41681 13.4222 5.57594 13.0705 6.03164 12.8651C6.10318 12.35 6.31116 11.9997 6.54034 11.8008C4.76256 11.6006 2.8947 10.9183 2.8947 7.87029C2.88368 7.07982 3.17869 6.31538 3.71868 5.73513C3.63655 5.53492 3.36233 4.72617 3.79684 3.62763C3.79684 3.62763 4.46848 3.41425 5.99721 4.44297C7.30845 4.08643 8.69192 4.08643 10.0032 4.44297C11.5306 3.41425 12.2009 3.62763 12.2009 3.62763C12.6367 4.72353 12.3625 5.53228 12.2804 5.73513C12.8221 6.31547 13.1177 7.08124 13.1057 7.87293C13.1057 10.9275 11.2338 11.6006 9.4534 11.7968C9.73954 12.0445 9.99522 12.5279 9.99522 13.2708C9.99522 14.335 9.98594 15.1912 9.98594 15.4533C9.98594 15.6654 10.1303 15.913 10.5357 15.8353C12.3373 15.2371 13.8661 14.0211 14.8488 12.4049C15.8314 10.7887 16.2037 8.87754 15.8991 7.01338C15.5945 5.14921 14.6329 3.45358 13.1862 2.22975C11.7396 1.00591 9.90224 0.333704 8.00283 0.333344H8.00019Z"
                    fill="#C2C2C2"></path>
                <path
                    d="M3.02963 11.7547C3.01241 11.7942 2.94883 11.806 2.89716 11.7784C2.8455 11.7507 2.80708 11.6993 2.82563 11.6585C2.84418 11.6177 2.90644 11.6071 2.9581 11.6348C3.00977 11.6625 3.04951 11.7152 3.02963 11.7547Z"
                    fill="white"></path>
                <path
                    d="M3.3542 12.1143C3.32677 12.128 3.29538 12.1318 3.26542 12.1251C3.23545 12.1184 3.20877 12.1015 3.18994 12.0774C3.13828 12.0221 3.12767 11.9457 3.16741 11.9114C3.20715 11.8772 3.2787 11.893 3.33036 11.9483C3.38202 12.0036 3.39395 12.08 3.3542 12.1143Z"
                    fill="white"></path>
                <path
                    d="M3.66949 12.5713C3.62047 12.6056 3.53701 12.5713 3.49064 12.5028C3.47782 12.4905 3.46763 12.4758 3.46066 12.4595C3.4537 12.4432 3.4501 12.4257 3.4501 12.408C3.4501 12.3903 3.4537 12.3728 3.46066 12.3565C3.46763 12.3402 3.47782 12.3254 3.49064 12.3132C3.53966 12.2802 3.62312 12.3132 3.66949 12.3803C3.71585 12.4475 3.71718 12.5371 3.66949 12.5713Z"
                    fill="white"></path>
                <path
                    d="M4.09737 13.0139C4.05365 13.0626 3.9649 13.0495 3.89204 12.9836C3.81918 12.9177 3.80195 12.8282 3.84567 12.7808C3.88939 12.7333 3.97814 12.7465 4.05365 12.8111C4.12916 12.8756 4.14373 12.9665 4.09737 13.0139Z"
                    fill="white"></path>
                <path
                    d="M4.69744 13.2721C4.67757 13.334 4.58749 13.3616 4.4974 13.3353C4.40732 13.309 4.34771 13.2352 4.36493 13.172C4.38215 13.1087 4.47356 13.0798 4.56497 13.1087C4.65637 13.1377 4.71466 13.2075 4.69744 13.2721Z"
                    fill="white"></path>
                <path
                    d="M5.35189 13.3168C5.35189 13.3814 5.27771 13.4367 5.18233 13.438C5.08695 13.4393 5.00879 13.3866 5.00879 13.3221C5.00879 13.2576 5.08297 13.2022 5.17835 13.2009C5.27373 13.1996 5.35189 13.251 5.35189 13.3168Z"
                    fill="white"></path>
                <path
                    d="M5.96127 13.2154C5.9732 13.28 5.90696 13.3471 5.81158 13.3629C5.7162 13.3787 5.63274 13.3405 5.62082 13.2773C5.6089 13.2141 5.67778 13.1456 5.77051 13.1285C5.86324 13.1114 5.94935 13.1509 5.96127 13.2154Z"
                    fill="white"></path>
            </g>
            <defs>
                <clipPath id="clip0_github">
                    <rect width="16" height="16" fill="white"></rect>
                </clipPath>
            </defs>
        </svg>
    </a>
</div>

<style>
    .social-link {
        display: flex;
        .fill {
            transition: fill 0.3s ease-in-out;
        }
        &:hover .fill{
            fill: #6A4DFF;
        }
    }
</style>