---
import { getContent } from '@utils/getContent';
import pkg from '../../package.json';

import { getEnvVar } from '@utils/env';
import { type Language } from '@utils/language';

const APP_VERSION = pkg.version || '0.0.0';
const { lang } = Astro.params;
const i18n = await getContent(lang as Language)
const smtServer = getEnvVar('SMT_SERVER')
---

<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{i18n.title}</title>
        <!-- Roboto font family here -->
        <link
            rel="preload"
            href="/fonts/roboto-v47-latin-regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/roboto-v47-latin-700.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/roboto-v47-latin-500.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link rel="stylesheet" href="/styles/global.css" />
    </head>
    <body class="bg-gray-100">
        <slot />
        <!-- children content -->
        <div class="text-center text-gray-300 text-sm max-sm:bg-white ">
            v{ APP_VERSION }
        </div>
        <input type="hidden" name="smt-server" value={smtServer}>
        <script src="../scripts/tracker.ts"></script>
    </body>
</html>
