---
import pkg from '../../package.json';
import {getEnvVar} from '@utils/env';

const { title, lang } = Astro.props;
const APP_VERSION = pkg.version || '0.0.0';

---

<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <!-- Roboto font family here -->
        <link
            rel="preload"
            href="/fonts/roboto-v47-latin-regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/roboto-v47-latin-700.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/roboto-v47-latin-500.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link rel="stylesheet" href="/styles/global.css" />
        <script async src={getEnvVar('ACKEE_TRACKER_URL')}
            data-ackee-server={getEnvVar('ACKEE_SERVER_URL')}
            data-ackee-domain-id={getEnvVar('ACKEE_DOMAIN_ID')}
            data-ackee-opts={getEnvVar('ACKEE_OPTS')}></script>
    </head>
    <body class="bg-gray-100">
        <slot />
        <!-- children content -->
        <div class="text-center text-gray-300 text-sm max-sm:bg-white ">
            v{ APP_VERSION }
        </div>
        <script is:inline id="ackee-script">
            document.querySelectorAll('[data-ackee-event]').forEach(trackedElement => {
              trackedElement.addEventListener('click', () => {
                if (window.ackeeTracker) {
                    ackeeTracker.create().action(
                    trackedElement.dataset.ackeeEvent,
                    { key: trackedElement.dataset.ackeeKey || 'unknown', value: 1 }
                  );
                }
              });
            });
          </script>
    </body>
</html>
