---
const { title, lang } = Astro.props;
import pkg from '../../package.json';
const APP_VERSION = pkg.version || '0.0.0';
---

<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <!-- Roboto font family here -->
        <link
            rel="preload"
            href="/fonts/roboto-v47-latin-regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/roboto-v47-latin-700.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/roboto-v47-latin-500.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link rel="stylesheet" href="/styles/global.css" />
    </head>
    <body class="bg-gray-100">
        <slot />
        <!-- children content -->
        <div class="text-center text-gray-300 text-sm max-sm:bg-white ">
            v{ APP_VERSION }
        </div>
    </body>
</html>
